# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
build/
dist/
coverage/

# production
*.pem

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# databases
prisma/dev.db
*.db
*.sqlite
*.sqlite3

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel
